---
import { ProjectsSchema, ProjectItemSchema } from "@/types";
import { z } from "astro:content";
import ProjectItem from "./ProjectItem.astro";

const url = "http://localhost:10003/wp-json/wp/v2/projects";
const response = await fetch(url);
const json = await response.json();
const projects: z.infer<typeof ProjectsSchema> = ProjectsSchema.parse(json);
---

<section id="projects" class="scroll-mt-16 lg:scroll-mt-24">
    <div
        class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
    >
    </div>
    <div>
        <ol class="group/list">
            {
                projects.map((project) => (
                    <ProjectItem
                        id={project.id}
                        title={project.title.rendered}
                        description={project.content.rendered}
                        image={project.featured_images?.medium}
                        technologies={project.technologies}
                    />
                ))
            }
        </ol>
    </div>
</section>
