---
import type { Post } from "@/types";
import { formatDate } from "@/helpers";

interface Props {
    post: Post;
}

const { post } = Astro.props;
---

<article>
    <header>
        <h2 class="text-2xl font-bold leading-tight tracking-tighter">
            <a href={"#"} target="_blank" rel="noreferrer noopener">
                {post.title.rendered}
            </a>
        </h2>
    </header>
    <div class="mt-2 line-clamp-3" set:html={post.content.rendered} />
    <footer class="mt-4">
        <p>
            Publicado el <time
                class="text-white/80 text-sm font-semibold"
                datetime={post.date}>{formatDate(post.date)}</time
            >
        </p>

        <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
            {
                post.post_categories.map((cat) => (
                    <li class="mr-1.5 mt-2">
                        <a
                            href={cat.slug}
                            target="_blank"
                            rel="noreferrer noopener"
                            aria-label={`${cat.name} (opens in a new tab)`}
                        >
                            <div class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300">
                                {cat.name}
                            </div>
                        </a>
                    </li>
                ))
            }
        </ul>
    </footer>
</article>

<style is:inline>
    h2 {
        margin-bottom: 0.5rem;
    }
    p {
        margin-bottom: 1rem;
    }
</style>
