---
import { ExperiencesSchema } from "@/types";
import ExperienceItem from "./ExperienceItem.astro";
const url = `${import.meta.env.API_URL}/experiences`;
const response = await fetch(url);
const json = await response.json();
const experiences = ExperiencesSchema.parse(json);
---

<section id="experience" class="scroll-mt-16 mb-16 lg:scroll-mt-24 lg:mb-24">
    <div
        class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
    >
    </div>
    <div>
        <ol class="group/list">
            {
                experiences.map((experience) => (
                    <ExperienceItem
                        id={experience.id}
                        period={experience.acf.working_time}
                        title={experience.title.rendered}
                        company={experience.title.rendered}
                        companyUrl={experience.acf.url}
                        description={experience.content.rendered}
                        technologies={experience.technologies}
                    />
                ))
            }
        </ol>
    </div>
</section>
